body,
html {
    margin: 0;
    width: 100%;
    height: 100%;
}


.header {
    width: 100%;
    background-color: #282A35;
    height: 10%;
    position: fixed;
    z-index: 2;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.header .header-title {
    margin: 0;
    color: #f1f1f1;
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
    position: absolute;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 2.5vw;
    height: 100%;
}

/* The dropdown container */
.dropdown {
    float: right;
    overflow: hidden;
    height: 100%;
    width: 10%;
    text-align: center;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 1.5vw;
    font-family: "Lucida Console", "Courier New", monospace;
    height: inherit;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    width: 100%;
    margin: 0;
}

.dropbtn:hover {
    background-color: rgb(85, 84, 84);
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    right: 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    z-index: 1;
    width: inherit;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    font-size: 1.5vw;
    font-family: "Lucida Console", "Courier New", monospace;
    display: block;
    text-align: left;
    background-color: #f9f9f9;
}

.dropdown-content a:hover {
    background-color: rgb(225 225 225);
}

.show {
    display: block;
}

.map-svg {
    z-index: 1;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 80%;
    height: 80%;
    vertical-align: top;
    overflow: hidden;
    margin: 20px;
    margin-top: 10px;
    top: 10%;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.svg-container .map-label{
    position: absolute;
    border: 3px solid black;
    left:0;
    z-index: 2;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 1.5%;
    opacity: 0.8;
}

.svg-container .map-label .map-label-text{
    margin: 0;
    font-size: 1.5vw;
}

.country {
    /* fill:#ccc; */
    stroke: #999;
    stroke-width: 1;
}

.tooltip {
    opacity: 0;
    background-color: white;
    border: solid;
    border-width: 2px;
    border-radius: 20px;
    padding: 10px 15px;
    position: absolute;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    z-index: 3;
}

.tooltip h2 {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 0px;
}

.tooltip h5 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
}

.tooltip .para {
    font-size: 85%;
    margin-bottom: 3px;
    margin-top: 3px;
}


.tooltip ul {
    padding-left: 25px;
    font-size: 90%;
}

.tooltip ul li {
    padding-bottom: 5px;
}